@import url("./variables.css");
@import url("./reset.css");
@import url("./utils.css");

.home-hero {
  display: flex;
  flex-direction: column;
  padding-bottom: 8rem;
}

.home-hero__title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--color-gray);
  font-size: 45rem;
}

.home-hero__cta {
  display: inline-block;
  align-self: flex-end;
  padding: 1rem 2.4rem;
  font-size: 1.4rem;
  font-weight: 500;
  text-transform: uppercase;
  border: 2px solid var(--color-gray);
  transition: color 350ms, background-color 350ms;
}

.home-hero__cta:hover {
  color: var(--color-gray-lighter);
  background-color: var(--color-gray);
}

.products {
  padding: 8rem 0 14rem 0;
}

.products__bar {
  display: flex;
  padding: 4.5rem 0;
  border-top: 1px solid #e0e0e0;
}

.products__option {
  margin-right: 4.5rem;
  text-transform: uppercase;
  cursor: pointer;
  transition: color 350ms;
}

.products__option--seclected {
  color: var(--color-cyan);
}

.products__option:hover {
  color: var(--color-cyan);
}

.products__grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 45rem 15rem 45rem;
  gap: 3rem;
  padding-bottom: 4.5rem;
  border-bottom: 1px solid #e0e0e0;
}

.product-item {
  position: relative;
  cursor: pointer;
}

.product-item--big {
  grid-column: span 2;
  grid-row: span 2;
}

.product-item:hover {
  box-shadow: 0 1rem 2.5rem rgba(0, 0, 0, 0.1);
}

.product-item:hover > .product-item__details {
  display: block;
}

.product-item:hover > .product-item__thumbnails {
  display: flex;
}

.product-item__thumbnails {
  position: absolute;
  top: 1.5rem;
  right: 1.5rem;
  display: none;
  flex-direction: column;
}

.product-item__thumbnail {
  width: max-content;
  margin-bottom: 1.5rem;
}

.product-item__price {
  position: absolute;
  top: 1.5rem;
  left: 1.5rem;
  color: var(--color-gray-light);
  font-size: 1.8rem;
}

.product-item__price::before {
  content: "\20AC";
  vertical-align: super;
  font-size: 1.2rem;
}

.product-item__details {
  position: absolute;
  bottom: 0;
  display: none;
  width: 100%;
  padding: 1.6rem 1.2rem;
  background-color: #fff;
  font-size: 1.2rem;
  text-align: center;
  box-shadow: 0 1rem 2.5rem rgba(0, 0, 0, 0.1);
  transform: translateY(100%);
  z-index: 1000;
}

.product-item__title {
  margin-bottom: 1rem;
  font-size: inherit;
  font-weight: 600;
  text-transform: uppercase;
}
