@import url("./variables.css");
@import url("./reset.css");
@import url("./utils.css");

.overview {
  padding: 8rem 0;
}

.overview__basics {
  display: flex;
  justify-content: flex-start;
}

.overview__slider {
  position: relative;
  display: flex;
  min-width: 55rem;
  height: 70rem;
  margin-right: 3.5rem;
  overflow-x: hidden;
}

.slider__item {
  width: 100%;
  height: 100%;
}

.slider__item--hide {
  display: none;
}

.slider__arrow {
  position: absolute;
  top: 50%;
  padding: 0.4rem 1rem;
  font-size: 3.2rem;
  transform: translateY(-50%);
  transition: background-color 350ms;
  cursor: pointer;
}

.slider__arrow:hover {
  background: var(--color-cyan);
  color: #fff;
}

.slider__arrow--first {
  left: 0;
}

.slider__arrow--second {
  right: 0;
}

.basic-information__bar {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.basic-information__bar > * {
  margin: 0 1.5rem 1.5rem 0;
}

.basic-information__reviews {
  display: flex;
  align-items: center;
}

.star {
  color: #e0e0e0;
}

.star--filled {
  color: #ded3aa;
}

.basic-information__link {
  display: inline-block;
  padding: 0 1rem;
  font-weight: 500;
  border-left: 1px solid var(--color-gray-light);
  border-right: 1px solid var(--color-gray-light);
  transition: color 350ms;
}

.basic-information__link:hover {
  color: var(--color-cyan);
}

.basic-information__text {
  font-weight: 500;
}

.basic-information__socials {
  display: flex;
}

.basic-social__item:not(:last-child) {
  margin-right: 1.5rem;
}

.basic-social__link {
  transition: color 350ms;
}

.basic-social__link:hover {
  color: var(--color-cyan);
}

.basic-information__price {
  padding: 3rem 0;
  color: var(--color-gray-light);
  font-size: 3.6rem;
}

.basic-information__price::before {
  content: "\20AC";
  vertical-align: super;
  font-size: 1.8rem;
}

.basic-information__availability {
  line-height: 3rem;
  margin-bottom: 8rem;
}

.basic-information__details {
  margin-top: 2rem;
  list-style-position: inside;
  list-style-type: disc;
}

.basic-information__details > li {
  margin-bottom: 1rem;
}

.basic-information__details > li::marker {
  color: var(--color-gray-light);
}

.overview__additions {
  margin: 4rem 0;
}

.tabs__list {
  display: flex;
  background-color: #f8f8f8;
}

.tabs__item {
  padding: 1.6rem 3.2rem;
  font-weight: 500;
  text-transform: uppercase;
  cursor: pointer;
  transition: background-color 350ms;
}

.tabs__item:hover {
  background-color: var(--color-gray);
  color: #fff;
}

.tabs__item--selected {
  background-color: var(--color-gray);
  color: #fff;
}

.tabs__content {
  padding: 2.5rem 0 0 1.5rem;
}

.tabs__content > .text:not(:last-child) {
  margin-bottom: 2.5rem;
}

@media (max-width: 768px) {
  .overview__basics {
    flex-direction: column;
  }

  .overview__slider {
    min-width: initial;
    width: 100%;
    height: 50rem;
    margin: 0 0 3.5rem 0;
  }

  .basic-information__price {
    padding: 2rem 0;
    font-size: 3.2rem;
  }

  .basic-information__price::before {
    font-size: 1.6rem;
  }

  .basic-information__availability {
    line-height: 2.5rem;
    margin-bottom: 2rem;
  }

  .overview__additions {
    margin: 6rem 0 4rem 0;
  }

  .tabs__list {
    flex-direction: column;
  }
}
