@import url("./variables.css");
@import url("./reset.css");
@import url("./utils.css");

.locations {
  padding: 8rem 0;
}

.stores__row {
  display: flex;
  justify-content: space-between;
  padding-bottom: 8rem;
}

.stores__location {
  flex: 1;
}

.stores__location:nth-child(2) {
  margin: 0 9rem;
}

.stores__btn {
  margin-top: 2.5rem;
}

.location-wrapper {
  display: flex;
  height: 53rem;
}

.location-map {
  flex: 1 1 65%;
  height: 100%;
}

.location-map > * {
  height: inherit !important;
}

.location-information {
  flex: 1 1 35%;
  padding: 4rem;
  background-color: var(--color-gray-lighter);
}

.location-information__list {
  margin: 3rem 0 5rem 0;
}

.location-information__item {
  display: flex;
  align-items: center;
}

.location-information__item:not(:last-child) {
  margin-bottom: 1.5rem;
}

.location-information__item > i {
  display: inline-block;
  width: 2rem;
  margin-right: 1.5rem;
  color: var(--color-gray-light);
}

.location-information__socials {
  display: flex;
  align-items: center;
}

.location-information__social {
  width: 3.5rem;
  height: 3.5rem;
  margin-right: 2rem;
  background-color: var(--color-gray);
  color: #fff;
  font-size: 1.6rem;
  border-radius: 50%;
  transition: background-color 350ms;
}

.location-information__social:hover {
  background-color: var(--color-cyan);
}

.location-information__social > a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
