@import url("./variables.css");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  width: 100%;
  height: 100vh;
  color: var(--color-gray);
  font-family: var(--font-primary);
  font-size: 1.6rem;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style: none;
}

.container {
  width: 100%;
  height: 100%;
  max-width: 130rem;
  margin: 0 auto;
}

header {
  height: 90%;
  background-color: var(--color-gray-lighter);
  background-image: url("../img/hero-1.png");
  background-repeat: no-repeat;
  background-position-y: 4rem;
  background-position-x: 30%;
}

.top-bar {
  width: 100%;
  height: 4rem;
  background-color: var(--color-gray);
}

.top-bar .container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.top-bar__login {
  color: var(--color-gray-light);
  font-size: 1.4rem;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 11rem;
}

.nav__logo {
  font-size: 2.4rem;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.nav__logo span {
  font-weight: bold;
}

.nav__list {
  display: flex;
  align-items: center;
}

.nav__item:not(:last-child) {
  margin-right: 5.5rem;
}

.nav__link {
  position: relative;
  display: inline-block;
  font-size: 1.4rem;
  text-transform: uppercase;
  transition: color 350ms;
}

.nav__link::before {
  content: "\f107";
  position: absolute;
  bottom: -2rem;
  left: 0;
  color: #575153;
  font-family: var(--font-icons);
  font-weight: 900;
  transition: color 350ms;
}

.nav__link--selected,
.nav__link--selected::before {
  color: var(--color-cyan);
}

.nav__link:hover,
.nav__link:hover::before {
  color: var(--color-cyan);
}

.hero {
  display: flex;
  flex-direction: column;
}

.hero__title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #575153;
  font-size: 45rem;
}

.hero__cta {
  display: inline-block;
  align-self: flex-end;
  padding: 1rem 2.4rem;
  border: 2px solid #575153;
}
